#apm-after-post-manager-page-wrap:before,
#apm-after-post-manager-page-wrap:after,
#apm-after-post-manager-page-wrap.header-wrap:before,
#apm-after-post-manager-page-wrap .header-wrap:after {
  content: '';
  display: table;
}

#apm-after-post-manager-page-wrap,
#apm-after-post-manager-page-wrap .header-wrap {
  *zoom: 1;
}
 
#apm-after-post-manager-page-wrap:after,
#apm-after-post-manager-page-wrap .header-wrap:after {
  clear: both;
}
 
.toplevel_page_after-post-manager  #apm-after-post-manager-page-wrap .header-wrap {
  color: #0074A2;
}

#apm-after-post-manager-page-wrap .heading-wrap {
  float: left;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#apm-after-post-manager-page-wrap .dashicons {
  font-size: 60px;
}

#apm-after-post-manager-page-wrap .heading {
  font-size: 25px;
  margin-left: 65px;
  line-height: 1.1;
}

#apm-after-post-manager-page-wrap .join-us-wrap {
  float: right;
  padding: 5px 10px;
  margin: 0px 0px 0px 15px;
}

#apm-after-post-manager-page-wrap .join-us-wrap h3 {
  float: left;
  position: relative;
  top: 4px;
}

#apm-after-post-manager-page-wrap .join-us-wrap a {
  text-decoration: none;
  transition: all 0.25s linear 0s;
}

#apm-after-post-manager-page-wrap .join-us-wrap .dashicons {
  display: inline-table;
  padding: 15px 0px;
  position: relative;
  top: 15px;
  line-height: 0;
}

.toplevel_page_after-post-manager #apm-after-post-manager-page-wrap .join-us-wrap a {
  color: #0074A2;
}

.toplevel_page_after-post-manager #apm-after-post-manager-page-wrap .join-us-wrap a:hover {
  color: rgba(1, 155, 216, 1);
}

.toplevel_page_after-post-manager #apm-after-post-manager-page-wrap .form-table th {
  display: none;
}

.toplevel_page_after-post-manager #apm-after-post-manager-page-wrap p.submit {
  text-align: center;
}

.toplevel_page_after-post-manager #apm-after-post-manager-page-wrap p.submit #submit {
  width: 98%;
  height: 55px;
  font-size: 22px;
  border: 0px;
  border-radius: 0px;
  box-shadow: none;
  background-color: #0074A2;
}

.toplevel_page_after-post-manager #apm-after-post-manager-page-wrap p.submit #submit:hover {
  background-color: rgba(0, 182, 149, 1);
  transition: all 0.25s linear 0s;
}
