/*Page Container*/

.a-p-manager_page_after-post-manager-explore #wpbody,
.a-p-manager_page_after-post-manager-shortcodes #wpbody {
  margin-left: -20px;
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} 

/*Header*/
.a-p-manager_page_after-post-manager-explore .header-wrap,
.a-p-manager_page_after-post-manager-shortcodes .header-wrap,
.a-p-manager_page_after-post-manager-explore .join-us-wrap,
.a-p-manager_page_after-post-manager-shortcodes .join-us-wrap {
  background-color: rgba(0, 0, 0, 0.91);
}

.a-p-manager_page_after-post-manager-explore .header-wrap,
.a-p-manager_page_after-post-manager-shortcodes .header-wrap {
  color: rgba(75, 184, 230, 1);
  padding-left: 15px;
}

.a-p-manager_page_after-post-manager-explore .join-us-wrap,
.a-p-manager_page_after-post-manager-shortcodes .join-us-wrap  {
  float: right;
  padding: 5px 10px;
  margin: 0px 20px 0px 15px;
}

.a-p-manager_page_after-post-manager-explore .join-us-wrap h3,
.a-p-manager_page_after-post-manager-shortcodes .join-us-wrap h3 {
  color: rgba(204, 213, 215, 1);
}

/*Page*/

/**** Shortcodes Page ****/

#apm-after-post-manager-page-wrap .shortcode-page-heading {
  color: #D4E5EA;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 25px;
  max-width: 90%;
  margin: 20px auto;
  text-align: center;
  font-size: 35px;
  line-height: 1;
}

#apm-after-post-manager-page-wrap .shortcodes-wrap {
  max-width: 85%; 
  margin: 50px auto;
}

#apm-after-post-manager-page-wrap .shortcodes-content {
  color: #D4E5EA;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.65);
  margin: 15px auto;
  max-width: 75%;
  font-size: 22px;
  line-height: 1;
}

#apm-after-post-manager-page-wrap .shortcodes-content:hover {
  background-color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  transition: all 0.25s linear 0s;
}

#apm-after-post-manager-page-wrap .shortcodes-content span.shortcode {
  font-style: italic;
  font-size: 20px;
}


/**** Explore Page ****/

.a-p-manager_page_after-post-manager-explore #apm-after-post-manager-page-wrap .explore-wrap:before,
.a-p-manager_page_after-post-manager-explore #apm-after-post-manager-page-wrap .explore-wrap:after,
.a-p-manager_page_after-post-manager-explore .explore-wrap .explore-content-wrap:before,
.a-p-manager_page_after-post-manager-explore .explore-wrap .explore-content-wrap:after {
  content: '';
  display: table;
}

.a-p-manager_page_after-post-manager-explore #apm-after-post-manager-page-wrap .explore-wrap,
.a-p-manager_page_after-post-manager-explore .explore-wrap .explore-content-wrap {
  *zoom: 1;
}
 
.a-p-manager_page_after-post-manager-explore #apm-after-post-manager-page-wrap .explore-wrap:after,
.a-p-manager_page_after-post-manager-explore .explore-wrap .explore-content-wrap:after {
  clear: both;
}

.a-p-manager_page_after-post-manager-explore #apm-after-post-manager-page-wrap .explore-wrap {
  padding: 20px 12px 20px 20px;
}

.a-p-manager_page_after-post-manager-explore #apm-after-post-manager-page-wrap .explore-wrap .explore-apm-heading {
  font-size: 40px;
  color: #D4E5EA;
  text-align: center;
  margin: 55px auto 65px auto;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 31px 10px;
  font-variant: small-caps;
  font-weight: 300;
  max-width: 98%;
  line-height: 1;
} 

.a-p-manager_page_after-post-manager-explore .explore-wrap .explore-content-wrap {
  padding: 5px 0px 0px;
  margin-top: 20px;
}

.a-p-manager_page_after-post-manager-explore .explore-wrap .explore-content-wrap:hover {
  background-color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  transition: all 0.25s linear 0s;
}

.a-p-manager_page_after-post-manager-explore .explore-wrap .explore-content-wrap .explore-editor-content {
  float: left;
}

.a-p-manager_page_after-post-manager-explore .explore-wrap .explore-content-wrap .explore-drop-to-upload-content {
  float: right;
}

.a-p-manager_page_after-post-manager-explore .explore-wrap .explore-content-wrap .explore-shortcodes-content {
  float: left;
}

.a-p-manager_page_after-post-manager-explore .explore-wrap .explore-content-wrap .explore-forms-content {
  float: right;
}

.a-p-manager_page_after-post-manager-explore .explore-wrap .explore-image {
  padding: 10px 10px 10px 0px;
  margin: 0px 10px;
}

.a-p-manager_page_after-post-manager-explore .explore-wrap .explore-image img {
  width: 100%;
  height: auto;
  border: 5px solid rgba(0, 0, 0, 0.6);
  max-width: 500px;
}

.a-p-manager_page_after-post-manager-explore .explore-wrap .editor-image {
  float: right;
}

.a-p-manager_page_after-post-manager-explore .explore-wrap .drop-to-upload-image {
  float: left;
}

.a-p-manager_page_after-post-manager-explore .explore-wrap .shortcodes-image {
  float: right;
}

.a-p-manager_page_after-post-manager-explore .explore-wrap .forms-image {
  float: left;
}

.a-p-manager_page_after-post-manager-explore .explore-wrap .explore-heading {
  font-size: 40px;
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  max-width: 300px;
  color: rgba(212, 229, 234, 1);
}

.a-p-manager_page_after-post-manager-explore .explore-wrap .explore-paragraph {
  font-size: 22px;
  max-width: 500px;
  text-align: center;
  line-height: 1.1;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(212, 229, 234, 1);
  margin-top: 10px;
  padding: 20px;
}

.a-p-manager_page_after-post-manager-explore .explore-wrap .explore-content {
  margin-top: 105px; 
  margin-bottom: 5px;
  padding: 5px 10px;
}

#apm-after-post-manager-page-wrap .meet-developer-wrap {
  padding: 0px 0px 10px 0px;
}

#apm-after-post-manager-page-wrap .meet-developer-wrap:hover {
  background-color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  transition: all 0.25s linear 0s;
}

#apm-after-post-manager-page-wrap .meet-developer-wrap .meet-the-developer {
  color: #D4E5EA;
  text-align: center;
  margin: 55px auto 65px;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 31px 0px;
  font-variant: small-caps;
  font-weight: 300;
  font-size: 40px;
  max-width: 90%;
  line-height: 1;
}

#apm-after-post-manager-page-wrap .meet-developer-wrap .meet-developer {
  max-width: 220px;
  background: rgba(0, 0, 0, 0.85);
  margin: 10px auto;
  padding: 10px;
}

#apm-after-post-manager-page-wrap .meet-developer-wrap .meet-developer .developer-avatar {
  margin: 0px auto;
  text-align: center;
}

#apm-after-post-manager-page-wrap .meet-developer-wrap .meet-developer .developer-avatar  img {
  border-radius: 150px;
  border: 5px solid rgba(0, 0, 0, 0.5);
}

#apm-after-post-manager-page-wrap .meet-developer-wrap .meet-developer .developer-name {
  font-size: 27px;
  text-align: center;
  line-height: 1;
  margin: 10px auto;
  color: rgba(149, 154, 156, 1);
}

#apm-after-post-manager-page-wrap .meet-developer-wrap .meet-developer .join-developer-wrap {
  margin: 0px auto;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 1px 2px 22px;
  border-radius: 5px;
}

#apm-after-post-manager-page-wrap .meet-developer-wrap .meet-developer .join-developer-wrap .join {
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
  color: rgba(194, 207, 224, 1);
}

#apm-after-post-manager-page-wrap .meet-developer-wrap .meet-developer .join-developer-wrap .join-link {
  max-width: 95%;
  text-align: center;
  margin: 0px auto;
}

#apm-after-post-manager-page-wrap .meet-developer-wrap .meet-developer .join-developer-wrap .join-link .dashicons-facebook-alt {
  position: relative;
  right: 10%;
  padding-bottom: 35px;
  padding-top: 10px;
}

.a-p-manager_page_after-post-manager-explore a,
.a-p-manager_page_after-post-manager-shortcodes a {
  text-decoration: none;
}

/*Footer*/
#apm-after-post-manager-page-wrap .main-page-link-wrap {
  padding-right: 15px;
  max-width: 85%;
  margin: 0px auto
}

#apm-after-post-manager-page-wrap .main-page-link {
  width: 95%;
  margin: 30px auto;
  background-color: rgba(9, 204, 128, 1);
  padding: 25px 20px;
  border: 0px;
  border-radius: 0px;
  color: rgba(246, 246, 246, 1);
  font-size: 25px;
  text-align: center;
  line-height: 1;
}

#apm-after-post-manager-page-wrap .main-page-link:hover {
  background-color: rgba(34, 215, 144, 1);
  transition: all 0.25s linear 0s;
}

.a-p-manager_page_after-post-manager-explore #wpfooter,
.a-p-manager_page_after-post-manager-shortcodes #wpfooter {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 15px 20px;
}